body{
    margin: 20px;
    padding: 0;
}
.main-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: repeat(3, 200px);
}



 /* .one, .two, .three, .four,
.five, .six,.seven,
.eight, .nine, .ten,
.lev,.tev, .thir, .fort,
.fif, .sixt, .sevtn, .eigtn,
.nintn, .twnty{
    width: 300px;
    height: 500px;
    border: 2px solid;
    padding: 30px;
    display: inline-block;
    margin-right: 75px;
    border-radius: 10px;
    overflow: scroll;
}



div:hover{
    transform: scale(1.1, 1);
    border: 2px solid black;
    box-shadow: 3px 3px 3px rgb(11, 11, 11);
} 
img:hover{
    margin-bottom: 20px;
    margin-left: 30px;
    transform: scale(1.2,1.2);
}

 button {
     margin: 10px;
     padding: 10px 30px;
     border: 1px solid black;
     border-radius: 3px;
     width: 100px;
     display: block;
    font-weight: bolder;
    font-size: 1rem;
    background: linear-gradient(to right, rgb(247, 32, 4) 50%, rgb(251, 248, 248) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;

}

button:hover {
  background-position: left bottom;
  color: rgb(238, 232, 232);
  transform: translateX(80px);
}   */







